### MACHINE LEARNING REGRESSION

## STAGE B QUIZZ

Good Day SIR/MA,
               I am IHAYERE EBINEHITA PRINCESS an intern of HAMOYE.
The codes below are the codes i performed while i was taking the quiz or test,
From Question 1-11 where plain theories thats why i didnot add them here just the qustions i used code.
Thank you Very much for this Opporunity.
    Grab your pop corn and enjoy my codes
    THANK YOU

### IMPORT LIABARIES

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
%matplotlib inline

## IMPORT DATA SET

In [4]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
data

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [5]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
date           19735 non-null object
Appliances     19735 non-null int64
lights         19735 non-null int64
T1             19735 non-null float64
RH_1           19735 non-null float64
T2             19735 non-null float64
RH_2           19735 non-null float64
T3             19735 non-null float64
RH_3           19735 non-null float64
T4             19735 non-null float64
RH_4           19735 non-null float64
T5             19735 non-null float64
RH_5           19735 non-null float64
T6             19735 non-null float64
RH_6           19735 non-null float64
T7             19735 non-null float64
RH_7           19735 non-null float64
T8             19735 non-null float64
RH_8           19735 non-null float64
T9             19735 non-null float64
RH_9           19735 non-null float64
T_out          19735 non-null float64
Press_mm_hg    19735 non-null float64
RH_out         19735 non-null float64
Windspeed      19735 non-null float64
Visibility     19735 non-null float64
Tdewpoint      19735 non-null float64
rv1            19735 non-null float64
rv2            19735 non-null float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [7]:
## Checking for null values
data.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

### From instruction we have to drop ['lights','data'] and make aplliance target with a test train of  70-30

In [8]:
## DROP THE COLUMNS
data.drop(columns=['lights','date'],inplace=True)

In [9]:
##NORMALIZE THE DATA 
scaler= MinMaxScaler()

In [11]:
normalized_data = pd.DataFrame(scaler.fit_transform(data),columns=data.columns)
features_data = normalized_data.drop(columns=['Appliances'])
target_variable= normalized_data['Appliances']

In [ ]:
##Spliting data sets into test and train

In [12]:
from sklearn.model_selection import train_test_split

In [14]:
x_train, x_test, y_train, y_test = train_test_split(features_data,target_variable,test_size=0.3,random_state=42)

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
linear_model = LinearRegression()

In [ ]:
#fit the model to the traning dataset

In [17]:
linear_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#obtaion predictions

In [18]:
predicted_values=linear_model.predict(x_test)

## QUESTION 12

## FRom dataset, fit linear model on the relationship between the temperature in the living room in celsius(x=t2)
## and temperature outside buliding is Y=t6 what is the R^2 in the two dp

In [73]:

scaler = MinMaxScaler()
normalised_data = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)
target = normalised_data['T6']
features_data = normalised_data['T2']

In [76]:

x_train, x_test, y_train, y_test = train_test_split(features_data.to_frame(),target, test_size=0.3, random_state=42)

linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)

In [77]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.64

### QUESTION 13

### What is MEAN ABSOLUTE ERROR in 2 Decimal places

In [20]:
from sklearn.metrics import mean_absolute_error

In [21]:
mae= mean_absolute_error(y_test,predicted_values)
round(mae,2)

0.05

### QUESTION 14

## What is the Residual Sum of Squares in 2 decimal places

In [27]:
rss=np.sum(np.square(y_test-predicted_values))
round(rss,2)

45.35

## QUESTION 15

## What is the Root Mean Squares in 3 decimal places

In [26]:
#Root mean square error
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

## Question 16

### What is the coefficient determination in decimal places

In [28]:
#R-square error
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

### Question 17

## Obtain the feature weights from linear model which features hav the lowest and highest weights

In [ ]:
## Comparing the effets of Regularization

In [34]:
def get_weights_data(model, feat, column_names):
    weights= pd.Series(model.coef_, feat.columns).sort_values()
    weights_data= pd.DataFrame(weights).reset_index()
    weights_data.columns = ['Features', column_names]
    weights_data[column_names].round(3)
    return weights_data

In [38]:
linear_model_weights = get_weights_data(linear_model,x_train, 'Linear_Model_Weight')
ridge_weights_data = get_weights_data(ridge_reg,x_train, 'Ridge_weights')
lasso_weights_data = get_weights_data(lasso_reg, x_train, 'lasso_weights')

In [39]:
final_weights= pd.merge(linear_model_weights, ridge_weights_data, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_data, on='Features')

In [40]:
final_weights

       Features  Linear_Model_Weight  Ridge_weights  lasso_weights
0          RH_2            -0.456698      -0.411071      -0.000000
1         T_out            -0.321860      -0.262172       0.000000
2            T2            -0.236178      -0.201397       0.000000
3            T9            -0.189941      -0.188916      -0.000000
4          RH_8            -0.157595      -0.156830      -0.000110
5        RH_out            -0.077671      -0.054724      -0.049557
6          RH_7            -0.044614      -0.045977      -0.000000
7          RH_9            -0.039800      -0.041367      -0.000000
8            T5            -0.015657      -0.019853      -0.000000
9            T1            -0.003281      -0.018406       0.000000
10          rv1             0.000770       0.000748      -0.000000
11          rv2             0.000770       0.000748      -0.000000
12  Press_mm_hg             0.006839       0.006584      -0.000000
13           T7             0.010319       0.010098      -0.000000
14   Visibility             0.012307       0.012076       0.000000
15         RH_5             0.016006       0.016152       0.000000
16         RH_4             0.026386       0.024579       0.000000
17           T4             0.028981       0.027384      -0.000000
18    Windspeed             0.029183       0.030268       0.002912
19         RH_6             0.038049       0.035519      -0.000000
20         RH_3             0.096048       0.095135       0.000000
21           T8             0.101995       0.101028       0.000000
22    Tdewpoint             0.117758       0.083128       0.000000
23           T6             0.236425       0.217292       0.000000
24           T3             0.290627       0.288087       0.000000
25         RH_1             0.553547       0.519525       0.017880

In [41]:
weight_max=final_weights['Linear_Model_Weight'].idxmax()
weight_min=final_weights['Linear_Model_Weight'].idxmin()

final_weights['Features'].iloc[[weight_max,weight_min]]

25    RH_1
0     RH_2
Name: Features, dtype: object

### QUESTION 18

### Train the the ridge regression model with alpha = 0.4. is there any change in the  root mean squared error (RMSE)

In [61]:
## IMPORT RIDGE 
from sklearn.linear_model import Ridge

In [65]:
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

from sklearn.metrics import  mean_squared_error
ridgermse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(ridgermse, 3)

0.088

### The Answer is NO

### Question 19

### Train th Lasso Regression model with an alpha value of 0.001 and obtain the new features weightswith it. How many of the Features have non-zero fature weights?

In [63]:
from sklearn.linear_model import Lasso

In [66]:
lasso_reg= Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [67]:
np.count_nonzero(final_weights['lasso_weights'])

4

### Question 20

### What is the new RMSE with Lasso Regression ( in 3 decimal place)

In [71]:
lasso_reg= Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

lassopredicted_values = lasso_reg.predict(x_test)

In [72]:
from sklearn.metrics import  mean_squared_error

lassormse = np.sqrt(mean_squared_error(y_test, lassopredicted_values))

round(lassormse, 3)

0.094